body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9999ff;
    min-height: 100vh;
    margin: 0;
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
}

h1, h2 {
    color: #fff;
    margin-bottom: 1rem;
}

form {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    border: 5px solid #99e6ff;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
}

button {
    background-color: #99e6ff;
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

#mensaje {
    margin-top: 1rem;
    font-weight: bold;
}
