.contador {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.botones button {
  background-color: #4cafef;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 1.2rem;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.botones button:hover {
  background-color: #368fd6;
}
