* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(226, 208, 233);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    color:#4a004d;
}

section {
    background-color: rgb(203, 156, 218);
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 0;
    flex-wrap: wrap;
    height: 876px;
}

.listas{
    background-color: rgb(226, 208, 233);
    border-radius: 20px;
    padding: 20px;
    min-width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 25px;
    margin-bottom: 10px;
    color: #4a004d;
    background-color:rgb(254, 251, 255);
    border-radius: 15px;
}

input{
    border: none;
    border-radius: 5px;
    background-color:rgb(254, 251, 255);
    color: #4a004d;
}

button{
    border: none;
    border-radius: 5px;
    background-color:rgb(254, 251, 255);
    color: #4a004d;
}

ul {
    margin-top: 10px;
    list-style:none;
    color: #4a004d;
}


@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
        align-items: center;
    }

    .lista {
        width: 90%;
    }
}
